# Nimeä tämä uudelleen: keystore.properties  (ÄLÄ commitoi versionhallintaan!)
# Polku on suhteessa android/-kansioon.
storeFile=../arojen-upload-key.jks
storePassword=VAIHDA_TAHAN_SALASANA
keyAlias=arojen
keyPassword=VAIHDA_TAHAN_SALASANA
